body {
    background-color: #f8f9fa;
}

.banner {
    font-weight: bold;
    font-size: 2em;
    color: #000000;
    text-shadow: 2px 2px 4px #fff;
}

.banner1 {
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.barra-navegacion a {
    font-weight: bold;
    color: #000;
}

.sponsor {
    width: 75%;
}

.carousel-title {
    position: absolute;
    right: 15%;
    bottom: 40%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.blockquote-footer{
    font-size: 100%!important;
}
